*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/Manifest.toml
/docs/build/

.formatting/Manifest.toml
.formatting/Project.toml

*.png
*.pdf
*.html
*.json
*.yaml
*.yml
*.toml
*.mp4

/data/
/checkpoints/

/python_libs/
/python_libs/.venv/

